#board {
  padding: 3em;
  text-align: center;

}
.row>div {
  float: left;
  height: 100px;
  width: 100px;
  clear: right;
  margin: 0 auto;
}
.row {
  margin: 0 auto;
  width: 302px;
}
.top {
  border-bottom: 1px solid blue;
}
.bottom {
  border-top: 1px solid blue;
}
.left {
  border-right: 1px solid blue;
}
.right {
  border-left: 1px solid blue;
}